@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ações</h1>
    @using (Html.BeginForm("Index", "Stock", FormMethod.Post))
    {
        <input type="text" id="teste" name="teste" placeholder="STOCK">
        <input type="submit" value="PESQUISAR" class="btn btn-success">
    }
</div>




