@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-8">
                    <div class="col-xl-12 rounded" style="background-color: #ffffff; background-image: url('C:\Users\igor\Downloads\TESTE.JPG'); height: 80% ">
                        <p>TESTE</p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="col-xl-12 col-12 rounded" style="background-color: #ffffff">
                        <div class="col-12 p-3 d-flex">
                            <div class="col-4">
                                <img height="80" src="https://s3-symbol-logo.tradingview.com/petrorio-on-nm--big.svg" />
                            </div>
                            <div class="col-8">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="col-12 p-3 d-flex">
                            <div class="col-4">
                                <img height="80" src="https://s3-symbol-logo.tradingview.com/petrorio-on-nm--big.svg" />
                            </div>
                            <div class="col-8">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="col-12 p-3 d-flex">
                            <div class="col-4">
                                <img height="80" src="https://s3-symbol-logo.tradingview.com/petrorio-on-nm--big.svg" />
                            </div>
                            <div class="col-8">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="col-12 p-3 d-flex">
                            <div class="col-4">
                                <img height="80" src="https://s3-symbol-logo.tradingview.com/petrorio-on-nm--big.svg" />
                            </div>
                            <div class="col-8">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

